= semantic_form_for [@cliente] do |form|
  
  = form.input :nome, :label => 'Nome'
  = form.input :data_de_nascimento, :label => 'Data de Nascimento'
  = form.input :email, :label => 'Email'
  = form.submit 'Salvar'
