= semantic_form_for [@promocao] do |form|
  
  = form.input :nome, :label => 'Nome'
  = form.input :data_inicio, :as => :string, :label => 'Data inicio'
  = form.input :data_fim, :as => :string ,  :label => 'Data fim'
  =form.input :porcentagem , :label => 'Porcentagem'
  = form.submit 'Salvar'
