= semantic_form_for [@produto] do |form|
   
  = form.input :loja, :member_label => :nome, :label => 'Loja'
  = form.input :promocao, :member_label =>:nome, :label => 'Promocao'
  = form.input :nome, :label => 'Nome'
  = form.input :descricao , :label => 'Descricao'
  = form.input :preco ,  :label => 'Preco' 
  = form.submit 'Salvar'
 


